.a{
    padding-top: 25%;
    padding-left: 35%;
    
}
.b{
    padding-left:35%; 
}
.c{
    background-image: url(../img/x.jpg);
}
.d{
    align-self: center;
    padding-top: 5%;
    padding-left: 17%;
}
.e{
    color:blue;
}